//@forward "variables"; //esto está mal
@use "variables" as v;

html {
  //10/16 = 0.625 *100
  font-size: 62.5%;
  box-sizing: border-box;
}
/*selector unversal es *. Tambien sirve para las pseudoclases el before and after*/
*,*:before, *:after {
  box-sizing: inherit; //heredar
}
//La fuente por defecto de un documento es de 16px;
/* Queremos que 1 rem sea 10px 5 rem =px*/

/*5rem (5*16) son 80 px
5rem (5*10) = 50px
*/

body {
  font-family: v.$fontMain;
  font-size: 1.6rem; //16px;
}

p {
  color: v.$black;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}