@use "base/mixins" as m;

.nav-barra {
  display:flex;
  flex-direction: column; //vertical
  @include m.tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}