@use "base/variables" as v;
@use "base/mixins" as m;

.nav-primary {
display: flex;
flex-direction: column;
margin-top: 5rem;
/*en resoluciones suo a 780px aplicará este mixin*/
@include m.tablet {
flex-direction: row;
gap: 1rem;
margin-top: 1.4rem; //14 px
}
  a {
    text-align: center;
    color: v.$white;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;

   &:hover {
     color: v.$secondary;
   }
   &.actived {
     color:v.$secondary
   }
  }
}